VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a783f3f001cee16755b
VITE_APPWRITE_BUCKET_ID=6a784044001d514333c8

VITE_MONGO_DATA_API_URL=https://data.mongodb-api.com/app/YOUR_APP_ID/endpoint/data/v1
VITE_MONGO_DATA_API_KEY=YOUR_MONGODB_ATLAS_DATA_API_KEY
VITE_MONGO_DATABASE=LMS
VITE_MONGO_DATA_SOURCE=LMS
